.Footer {
  font-size: 1.5rem;
  color: white;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid white;
}

.Footer ul {
  list-style: none;
  margin: 0;
}

.cont {
  display: flex;
  margin: 100px;
}
